*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
}

.navbar{
    height: 13vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(203, 16, 255), rgb(255, 169, 20) 60%);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 10;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 1.4em;
    margin-right: 5%;
}
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
}

.Logo{
    position: absolute;
    left: 7%;
}

.Logo1{
    width: 12vh;
    height: auto;
    display: flex;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: clamp(1rem, 2vw, 1.2rem);
    transition: 500ms;
    font-weight: 600;
}

.nav-item a:hover{
    color: rgb(233, 67, 255);
}

#Colabore{
    width: 10em;
    height: 3.5em;
    background-color: rgb(255, 0, 234); 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4vh;
    transition: 500ms;
}

#Colabore:hover{
    background-color: rgb(213, 77, 255);
    transform: scale(1.1);
}

.desc-Yohan{
    margin-top: 20dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2dvh;
}

.desc-Yohan img{
    height: 50dvh;
    width: 50dvh;
    border-radius: 100%;
    object-fit: cover;
}

h1{
    font-size: 4rem;
}

.desc-Yohan p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 70%;
    font-size: 1.3rem;
}

.redes-Yohan{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 20px;
}

.rodape{
    margin-top: 5dvh;
    background-image: url(img/Rectangle\ 50.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.logo-rodape img{
    margin-top: 15dvh;
    position: absolute;
    left: 7vh;
    width: 45vh;
}
.inf-rodape{
    margin-top: 15dvh;
    width: 65%;
    left:28%;
    position: absolute;
    display: flex;
    gap: 3%;
    font-size: clamp(1rem, 1.7rem, 1.8rem);
    color: black;
    text-align: justify;
}

.insta, .facebook, .youtube, .whatsapp, .email{
    display: flex;
    margin-top: 3vh;
}

.redes, .formas-contato, .localizacao{
    align-items: center;
}

.redes, .formas-contato, p{
    margin-left: 1vh;
}

.rodape h1{
    font-size: 2.5rem;
}

.localizacao{
    max-width: 25vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


@media (max-width: 1000px){
            .hamburger {
        display: flex;
        margin-right: 4vh;
    }
            .nav-list {
            position: absolute;
            top: 100%;
            right: -5%;
            background: #FFA500;
            color: #000;
            width: 200px;
            flex-direction: column;
            padding: 20px;
            gap: 20px;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            transform: translateY(-20px);
            transition: 
                max-height 0.8s ease,
                opacity 0.1s ease,
                transform 0.7s ease;
        }
        .nav-list.active {
            max-height: 500px;
            opacity: 1;
            transform: translateY(0);
        }
    
        .nav-list a {
            color: #000;
            font-weight: 600;
        }

            .rodape{
        position: relative;
        height: 35vh;
        width: 100%;
    }
    .logo-rodape img{
        display: none;
    }
    .rodape h1{
        font-size: 0.80rem;
    }
    .redes, .formas-contato, .localizacao{
        width: 40%;
    }
    .inf-rodape{
        left: 1vh;
        bottom: 9vh;
        font-size: 0.7rem;
        width: 100%;
    }

    .inf-rodape p{
        width: 80px;
        font-weight: 600;
    }
    }

@media (max-width:900px){

}